// dark

:root {
  --primary: #3a86ff;
  --secondary: #4cc9f0;
  --bg-primary: #212529;
  --bg-secondary: #343a40;
  --text: white;
  --gray: #dee2e6;
}

// // white
// :root {
//   --primary: #3a86ff;
//   --secondary: #4cc9f0;
//   --bg-primary: #ffffff;
//   --bg-secondary: #ebebeb;
//   --text: rgb(0, 0, 0);
//   --gray: #333333;
// }
